{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <title>Pagina Principal</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'PaginaPrincipal' %}">Cuida a tu Mascota</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'PaginaPrincipal' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Seguimiento' %}">Seguimiento</a>
                    <!--Debe listar las compras hechas por el carrito-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Suscribirse' %}">Suscribirse</a>
                    <!--En esta seccion debe estar el API REST-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Carrito' %}">Carrito</a>
                    <!--En esta seccion debe agregar las productos-->
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'Historial' %}">Historial</a>
                    <!--En esta seccion debe listar los productos ero sin detalle-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'TuCuenta' %}">Tu cuenta</a>
                    <!--En esta seccion debe listar datos del usuario-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'InicioSesion' %}">Ingresa</a>
                    <!--En esta seccion debe listar datos del usuario-->
                </li>
            </ul>
        </div>
    </div>
</nav>

<body id="body">
    <h1>Productos para Mascotas</h1>
    <div class="row row-cols-md-2 g-4">
        <!--Imagen Modal 1 -->
        <div class="col-lg-4">
            <div class="card h-100 w-50">
                <img src="{% static 'core/img/galletasPerros.jpg'%}" data-bs-toggle="modal" data-bs-target="#Producto1"
                    class="card-img-top rounded-start" alt="..." style="width: auto; height: auto;">
            </div>
        </div>
        <!--Imagen Modal 2 -->
        <div class="col-lg-4">
            <div class="card h-100 w-50">
                <img src="{% static 'core/img/cepilloPerro.jpg'%}" data-bs-toggle="modal" data-bs-target="#Producto2"
                    class="card-img-top rounded-start" alt="..." style="width: auto; height: auto;">
            </div>
        </div>
        <!--Imagen Modal 4 -->
        <div class="col-lg-4">
            <div class="card h-100 w-50">
                <img src="{% static 'core/img/ShampooGatos.jpg'%}" data-bs-toggle="modal" data-bs-target="#Producto4"
                    class="card-img-top rounded-start" alt="..." style="width: auto; height: auto;">
            </div>
        </div>
        <!--Imagen Modal 5 -->
        <div class="col-lg-4">
            <div class="card h-100 w-50">
                <img src="{% static 'core/img/juguetePerro.jpg'%}" data-bs-toggle="modal" data-bs-target="#Producto5"
                    class="card-img-top rounded-start" alt="..." style="width: auto; height: auto;">
            </div>
        </div>
        <!-- Inicio Modal 1-->
        <div class="modal fade" id="Producto1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'core/img/galletasPerros.jpg'%}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <label>Nombre Producto: Galletas para perros</label>
                                    </li>
                                    <li>
                                        <label>Precio: 15.000 Pesos </label>
                                    </li>
                                    <li>
                                        <label>Stock: 50 Unidades</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#respuesta">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicio Modal 2-->
        <div class="modal fade" id="Producto2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nombre del producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'core/img/cepilloPerro.jpg'%}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <label>Nombre Producto: Cepillo para perros</label>
                                    </li>
                                    <li>
                                        <label>Precio: 5.990 Pesos</label>
                                    </li>
                                    <li>
                                        <label>Stock: 5 Unidades</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#respuesta">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicio Modal 3-->

        <!-- Inicio Modal 4-->
        <div class="modal fade" id="Producto4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'core/img/ShampooGatos.jpg'%}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <label>Nombre Producto: Shampoo para Gatos</label>
                                    </li>
                                    <li>
                                        <label>Precio: 12.990 Pesos</label>
                                    </li>
                                    <li>
                                        <label>Stock: 25 Unidades</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#respuesta">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicio Modal 5-->
        <div class="modal fade" id="Producto5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'core/img/juguetePerro.jpg'%}" class="img-fluid rounded-start">
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>
                                        <label>Nombre Producto: Galletas para perros</label>
                                    </li>
                                    <li>
                                        <label>Precio: 15.000 Pesos </label>
                                    </li>
                                    <li>
                                        <label>Stock: 50 Unidades</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#respuesta">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--fin Modal Primera Linea-->
        <!--Modal Respuesta-->
        <div class="modal fade" id="respuesta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Producto Agregado</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Inicio Productos Primera Linea-->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>


<!--Inicio Productos Primera Linea-->
 <!--ADMIN CREDENCIALES-->
 <!--Usuario: Mascotas-->
 <!--Contraseña: Mascotas123-->